.fadeInUp {
  animation: fadeInUp var(--ds-animation-time) ease-in-out;
  opacity: 1;
}
.fadeOutUp {
  animation: fadeOutUp var(--ds-animation-time) ease-in-out;
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(var(--ds-animation-size-nagative));
    -webkit-transform: translateY(var(--ds-animation-size-nagative));
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(var(--ds-animation-size-nagative));
    -webkit-transform: translateY(var(--ds-animation-size-nagative));
    opacity: 0;
  }
}
