.fadeInLeft {
  animation: fadeInLeft var(--ds-animation-time) ease-in-out;
  opacity: 1;
}
.fadeOutLeft {
  animation: fadeOutLeft var(--ds-animation-time) ease-in-out;
  opacity: 0;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(var(--ds-animation-size-nagative));
    -webkit-transform: translateX(var(--ds-animation-size-nagative));
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(var(--ds-animation-size-nagative));
    -webkit-transform: translateX(var(--ds-animation-size-nagative));
    opacity: 0;
  }
}
